$head-color: #30c2c6;
$color-f: #fff;
$bg-section_1: #f95e19;

$bg-img-section-1: '../img/section_1-sm.png';
$bg-img-section-1-pk: '../img/pk.png';
$bg-img-section-1-landing: '../img/landing.png';
$bg-img-section-1-3: '../img/section_3.png';
$bg-img-section-1-4: '../img/section_4.png';
$bg-img-section-1-5: '../img/section_5.png';
$bg-img-section-2: '../img/section_2.png';

%site-header-color {
  color: $color-f;
}

.site-header {
  background: $head-color;
  a {
    @extend %site-header-color;
  }
  .svg {
    g {
      fill: $color-f;
    }
  }
}

#section_1 {
  background: bottom right no-repeat url(#{$bg-img-section-1-landing}),
              10rem top / 15rem no-repeat url(#{$bg-img-section-1-3}),
              right 5rem top 2rem / 19rem no-repeat url(#{$bg-img-section-1-4}),
              center top 1rem/ 8rem no-repeat url(#{$bg-img-section-1-5}),
              left bottom / 31rem no-repeat url(#{$bg-img-section-1});
  background-color: $bg-section_1;
  @extend %site-header-color;
}

#section_2 {
  background: no-repeat url(#{$bg-img-section-2});
}

.rocket {
  font-size: 10rem;
}